$armor_core: #45618e;
$weapon_damage: #a43b3b;
$skill_tier: #ffd373;
$god_roll: #ff953a;
$faded_skill_yellow: #f7e67a;
$gear_set: #01ff90;
$exotic: #ff6f36;
$named_item: #eaa213;
$high_end: #ffaf10;
$brand_orange: #ff6A13;
$rogue_red: #ff3000
$dark_zone: #6d5f98;